In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['hike-hackathon', 'fork-of-hike-hackathon']

In [2]:
data=pd.read_csv("../input/fork-of-hike-hackathon/train_merged_uf.csv")

In [3]:
data.head()

   node1_id                    ...                                                        node2
0   7159649                    ...                     [31 22  9 31 25 12 31 27 18 31 29 24 11]
1   4771042                    ...                     [31  9  0 31 10  0 31 10  0 31 10  2  8]
2   3079025                    ...                     [ 0  0  0  0  0  0  5  1  0 12  5  1 15]
3   3651503                    ...                     [31 12  5 31 16  6 31 22 10 24 18 10 11]
4   6434643                    ...                     [31 28 21 31 24 19 31 21 17 31 16 13 15]

[5 rows x 5 columns]

In [4]:
type(data['node1'][0])

str

In [5]:
from keras.utils import to_categorical

Using TensorFlow backend.

In [6]:
def make_matr(lst1, lst2):
    l1=np.asarray(lst1[1:-1].split(),dtype=int)
    l2=np.asarray(lst2[1:-1].split(),dtype=int)
    l1= np.concatenate((l1[0:-1],to_categorical(l1[-1],num_classes=16)), axis=0)
    l2= np.concatenate((l2[0:-1],to_categorical(l2[-1],num_classes=16)), axis=0)
    return np.concatenate((l1,l2))

In [7]:
from tqdm import tqdm

In [8]:
# lat= [1,23,4]
# to_categorical(lat,num_classes=)

In [9]:
mat=[]
for i in tqdm(range(len(data['node1']))):
    mat.append(make_matr(data['node1'][i], data['node2'][i]))

 98%|█████████▊| 6902477/7040485 [11:48<00:13, 9908.46it/s]

In [10]:
len(mat[0])

56

In [11]:
mat= np.asmatrix(mat,dtype=int)

In [12]:
mat.shape

(7040485, 56)

In [13]:
Y= data['is_chat']

In [14]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(mat, Y, test_size=0.08, random_state=42)

In [15]:
# from sklearn.naive_bayes import MultinomialNB

In [16]:
# classifier=MultinomialNB(alpha=1)

In [17]:
# classifier.fit(X_train, y_train)

In [18]:
# predictions = classifier.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
# accuracy_score(y_test,predictions)

In [21]:
# from sklearn.ensemble import RandomForestClassifier
# rf = RandomForestClassifier(n_estimators=20)

In [22]:
# rf.fit(X_train, y_train)

In [23]:
# predictions = rf.predict(X_test)

In [24]:
# accuracy_score(y_test,predictions)

In [25]:
# from sklearn.externals import joblib

In [26]:
# joblib.dump(rf, "random_forest_model77.sav")

In [27]:
# del rf

In [28]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [29]:
model = Sequential()

In [30]:
model.add(Dense(70, input_shape=(56,), activation='relu'))
model.add(Dense(50,activation='relu'))
model.add(Dense(30,activation='relu'))
model.add(Dense(12,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [31]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 70)                3990
_________________________________________________________________
dense_2 (Dense)              (None, 50)                3550
_________________________________________________________________
dense_3 (Dense)              (None, 30)                1530
_________________________________________________________________
dense_4 (Dense)              (None, 12)                372
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 13
=================================================================
Total params: 9,455
Trainable params: 9,455
Non-trainable params: 0
_________________________________________________________________

In [32]:
model.compile(loss = 'binary_crossentropy', optimizer='adam',metrics = ['accuracy'])

In [33]:
model.fit(mat, Y, batch_size =50, epochs= 20,  verbose = 1, validation_split=0.05)

WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 6688460 samples, validate on 352025 samples
Epoch 1/20
6688460/6688460 [==============================] - 452s 68us/step - loss: 0.4596 - acc: 0.7895 - val_loss: 0.3196 - val_acc: 0.8749
Epoch 2/20
2981350/6688460 [============>.................] - ETA: 4:02 - loss: 0.4527 - acc: 0.7929

In [34]:
from keras.models import model_from_json

In [35]:
model_json = model.to_json()
with open("modeldl.json", "w") as json_file:
    json_file.write(model_json)
model.save_weights("modeldl.h5")

In [36]:
# json_file = open('model.json', 'r')
# loaded_model_json = json_file.read()
# json_file.close()
# loaded_model = model_from_json(loaded_model_json)
# # load weights into new model
# loaded_model.load_weights("model.h5")

In [37]:
# data= pd.read_csv('../input/hike-hackathon/test_merged_uf.csv')

In [38]:
# del mat

In [39]:
# del test_data

In [40]:
# del data

In [41]:
# mat=[]
# for i in tqdm(range(len(data['node1']))):
#     mat.append(make_matr(data['node1'][i], data['node2'][i]))

In [42]:
# mat= np.asmatrix(mat,dtype=int)

In [43]:
# ans=model.predict_proba(data)